@charset "UTF-8";

// Box Shadow
// =============================================================================

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}



// Box Sizing
// =============================================================================

@mixin box-sizing($boxModel) {
  -webkit-box-sizing: $boxModel;
  -moz-box-sizing: $boxModel;
  box-sizing: $boxModel;
}