@charset "UTF-8";

// asset-pipeline
// ======================================================

/// A global setting to enable or disable the `$asset-pipeline` variable for all functions that accept it.
///
/// @type Bool

$asset-pipeline: false !default;



// prefixer-mixins-settings
// ======================================================

// Global variables to enable or disable vendor prefixes

$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;



// px-to-em settings
// ======================================================

$em-base: 16px !default;
