@charset "UTF-8";

@mixin user-select($value: none) {
  @include prefixer(user-select, $value, webkit moz ms spec);
}

// User Select Theme X Renew
// =============================================================================

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -o-user-select: $select;
  user-select: $select;
}